
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    grid-template-rows: auto, auto, auto, auto;
    grid-auto-rows: min-content;
    padding: 30px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    
}

header {
    background-color: rgb(238, 200, 206);
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color:indianred;
    font-family: 'Amatic SC', cursive;
}

footer {
    background-color: rgb(238, 200, 206);
    padding: 10px;
    font-family: 'Amatic SC', cursive;
    color: indianred;
}

#add { 
    color: rgb(143, 10, 143);
}
#sub {
    color: rgb(69, 69, 179);
}
#multiply {
    color: rgb(196, 99, 60);
}
#divide {
    color:rgb(59, 207, 121);
}

